@import "ui-variables";
@import "syntax-variables";

/*
 * Stylesheet for the error highlight ide-like feature.
 *
 */


.error-highlighted-line {
    animation: blinker 0.5s cubic-bezier(.4, 0, 1, 1) infinite;
}

@keyframes blinker {
    from {
        background-color: rgba(100, 40, 40, 0.1);
    } to {
        background-color: rgba(100, 40, 40, 0.9);
    }
}

/*
 * Stylesheet for the mod creator menu, taken mostly from
 * atom/settings-view, to have a consistent look.
 *
 * https://github.com/atom/settings-view
 *
 */

.boilua-mod-creator {
    .modgen-title {
        text-align: center;
    }

    .modgen-entry {
        padding-top: 0.4em;
        padding-bottom: 0.4em;
    }
    .modgen-modname {
        label {
            padding-right: 0;
            display: block;
        }
        padding-right: 2.25em;

    }
    .modgen-buttons {
        display: flex;
        width: 50%;
    }
    .setting-entry {
        padding-left: 0.5em;
        padding-right: 0.5em;
        display: flex;
        flex: 1 1 50%;
    }
    .checkbox {
        padding-left: 2.25em;
        label {
            padding-left: 0;
            display: block;
        }
        .setting-title {
            display: inline-block;
            font-weight: bold;
        }
        .setting-description {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
    }
    input[type="checkbox"] {
        margin: 0 .75em 0 -2.25em;
    }
}
